<footer>
    <div class="info-footer">                
        <div class="iconos-footer">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-soundcloud"></i>
            <i class="fab fa-spotify"></i>
        </div>

        <div class="texto-footer">
            <p>Ayuda</p>
            <p>Newsletter</p>
            <p>Contacto</p>
        </div>
    </div>

    <p class="legal">© 2022 Sound Bites. All rights reserved.</p>

</footer>