<head>
    <meta charset="UTF-8">
    <title>Sound Bites</title>
    <link rel="icon" type="image/x-icon" href="/images/iconos-logos/vectorpaint.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="/css/<%=style%>.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>