<header>
    <section class="header">
        <div class="logo">
            <a href="/"><img class="logo-svg" src="/images\iconos-logos\sinblanco.svg" alt="Logo"></a>
        </div>
         <div class="barra-busqueda">
            <input class="barra" type="text" name="barra-de-busqueda" placeholder="Busca..." >
            <i class="fas fa-search"></i>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <div class="login-bar">

            <% if(!locals.usuario){ %>
                <div class="sign-up">  
                    <a class="registrate" href= "/users/register"><i class="far fa-address-card"></i></a>
                    <a class="registrate" href= "/users/register">Registrate</a>
                </div>  
                <div class="login">
                    <a class="ingresa" href= "/users/login"><i class="fas fa-user-circle"></i></a>
                    <a class="ingresa" href= "/users/login"> Ingresá</a>
                </div>
                <div class="cart">
                    <a class="carrito" href= "/products/cart"><i class="fas fa-shopping-cart"></i></a>
                    <a class="carrito" href= "/products/cart">Carrito</a>
                </div>

           <% }else{ %>

                <p class="nombre-usuario">Bienvenido <%= usuario.nombre + " " + usuario.apellido     %></p>

                <a href="/users/perfil"><article> 
                    <img class="imagen-perfil" src=/images/users/<%= usuario.avatar %>>
                    
                </article></a>
 
                <form action="/users/logout" method="POST">
                <button type="submit" class="boton-cerrar-sesion">Cerrar Sesion</button>
                </form>

            <% } %>

        </div> 
    </section>
</header>