<header>
    <section class="header">
        <div class="logo">
            <a href="/"><img class="logo-svg" src="/images\iconos-logos\sinblanco.svg" alt="Logo"></a>
        </div>
         <div class="barra-busqueda">
            <input class="barra" type="text" name="barra-de-busqueda" placeholder="Busca..." >
            <i class="fas fa-search"></i>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <div class="login-bar">
                <div class="sign-up">  
                    <a class="registrate" href= "/register"><i class="far fa-address-card"></i></a>
                    <a class="registrate" href= "/register">Registrate</a>
                </div>  
                <div class="login">
                    <a class="ingresa" href= "/login"><i class="fas fa-user-circle"></i></a>
                    <a class="ingresa" href= "/login"> Ingresá</a>
                </div>
                <div class="cart">
                    <a class="carrito" href= "/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a class="carrito" href= "/productCart">Carrito</a>
                </div>
        </div> 
    </section>
</header>