<html>
    <%- include("./partials/head") %>

    <body>


        <main> 

           <p class="no-existe">Esta página no existe.</p>

            <div class="imagen-error"><img src="/images/error/e1IneGq.gif" alt=""></div>

            <p class="no-localizar">No pudimos encontrar la página que buscabas.</p>

            <p class="hacer-click">Hace click (en cualquier parte) para volver al inicio!</p>                        
        </main>

    </body>
</html>
























<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
