<html>
    <head>
        <meta charset="UTF-8">
        <title>Sound Bites Records</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <section class="header">
                <div class="logo">
                    <img class="logo-svg" src="images\sinblanco.svg" alt="Logo">
                </div>
                 <div class="barra-busqueda">
                    <input class="barra" type="text" name="barra-de-busqueda" placeholder="Busca..."> 
                </div>
                <div class="login-bar">
                        <div class="sign-up">  
                            <i class="far fa-address-card"></i>
                            <a class="registrate" href= #>Registrate</a>
                        </div>  
                        <div class="login">
                            <i class="fas fa-user-circle"></i>
                            <a class="ingresa" href= #> Ingresá</a>
                        </div>
                        <div class="cart">
                            <i class="fas fa-shopping-cart"></i>
                            <a class="carrito" href= #>Carrito</a>
                        </div>
                </div> 
            </section>
        </header>

        <main>
            <section class="carrusel">
                <img class="banner" src="images\banner_carrusel.png" alt="Carrusel">
            </section>
            
            <section class="categorias">
                <article class="vinilos">
                    <i class="fas fa-record-vinyl"></i>
                    <p>Vinilos</p>
                </article>
                <article class="cassettes">
                    <i class="fas fa-compact-disc"></i>
                    <p>Cassettes</p>
                </article>
                <article class="discos">
                    <i class="fas fa-compact-disc"></i>
                    <p>CD's</p>
                </article>
                <article class="digital">
                    <i class="fas fa-file-audio"></i>
                    <p>Digital</p>
                </article>
            </section>

            <section class="nuevos-lanzamientos">
                <h2>Nuevos Lanzamientos</h2>
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </section>
        </main>

        <footer>
            
        </footer>
    </body>
</html>