<html>
    <%- include("./partials/head") %> 

    <body>
        <%- include("./partials/header") %>

        <main>
            <section class="carrusel">
                <img class="banner" src="images\carrusel\banner-gorillaz.png" alt="Carrusel">
            </section>
            
            <section class="categorias">
                <a href= # ><article class="vinilos">
                    <img src="images\iconos-logos\vinilo.svg" class="icono-categoria" alt="Vinilo">
                </article></a>

                <a href= # ><article class="cassettes">
                    <img src="images\iconos-logos\cassete.svg" class="icono-categoria" alt="Cassete">   
                    </article></a>

                <a href= # ><article class="discos">
                    <img src="images\iconos-logos\cd.svg" class="icono-categoria" alt="cd">                    
                    </article></a>

                <a href=#><article class="digital">
                    <img src="images\iconos-logos\wave.svg"class="icono-categoria" alt="Onda de Sonido">
                </article></a>

            </section>

            <h2 class="titular">Nuevos Lanzamientos</h2>

            <section class="nuevos-lanzamientos">

                   
                <article class="album">
                    <a href="/productDetail"> 
                        <img class="cover-art" src="images\cover-art\arctic-the-car.jpg" alt="cover">
                        <div class="info-album">
                            <p class="titulo-album">The Car</p>
                            <p class="banda-album">Arctic Monkeys</p>
                        </div>
                    </a>
                </article>
                
                
                <article class="album">
                    <a href="/productDetail">
                        <img class="cover-art" src="images\cover-art\UnlimitedLove.jpg" alt="cover">
                        <div class="info-album">
                            <p class="titulo-album">Unlimited Love</p>
                            <p class="banda-album">Red Hot Chili Peppers</p>
                        </div>
                    </a>
                </article>
                
                
                <article class="album">
                    <a href="/productDetail">
                        <img class="cover-art" src="images\cover-art\WillofthePeople.jpg" alt="cover">
                        <div class="info-album">
                            <p class="titulo-album">Will of The People</p>
                            <p class="banda-album">Muse</p>
                        </div>
                    </a>
                </article>
                
                
                <article class="album">
                    <a href="/productDetail">
                        <img class="cover-art" src="images\cover-art\FreakoutRelease.jpg" alt="cover">
                        <div class="info-album">
                            <p class="titulo-album">Freakout/Release</p>
                            <p class="banda-album">Hot Chip</p>
                        </div>
                    </a>
                </article>
            

                </section>

                <h2 class="titular">Mas Vendidos</h2>

                <section class="nuevos-lanzamientos">
    
                    <article class="album">
                        <a href="/productDetail"> 
                            <img class="cover-art" src="images\cover-art\UnknownPleasures.jpg" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album">Unknown Pleasures</p>
                                <p class="banda-album">Joy Division</p>
                            </div>
                        </a>
                    </article>
                    
                    
                    <article class="album">
                        <a href="/productDetail">
                            <img class="cover-art" src="images\cover-art\FranzFerdinand.jpg" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album">Franz Ferdinand</p>
                                <p class="banda-album">Franz Ferdinand</p>
                            </div>
                        </a>
                    </article>
                    
                    
                    <article class="album">
                        <a href="/productDetail">
                            <img class="cover-art" src="images\cover-art\flowerboy.jpg" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album">Flower Boy</p>
                                <p class="banda-album">Tyler, The Creator</p>
                            </div>
                        </a>
                    </article>
                    
                    
                    <article class="album">
                        <a href="/productDetail">
                            <img class="cover-art" src="images\cover-art\FirstImpressionsofEarth.jpg" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album">First Impressions of Earth</p>
                                <p class="banda-album">The Strokes</p>
                            </div>
                        </a>
                    </article>
    
                    </section>
        </main>

       <%- include("./partials/footer") %>
    </body>
</html>