<html>

<head>
    <meta charset="UTF-8">
    <title> Detalle de Producto </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/productDetail.css" rel="stylesheet">
</head>

<body>
    <header>
        <section class="header">
            <div class="logo">
                <img class="logo-svg" src="images\sinblanco.svg" alt="Logo">
            </div>
            <div class="barra-busqueda">
                <input class="barra" type="text" name="barra-de-busqueda" placeholder="Busca...">
            </div>

            <div class="burger-menu"><i class="fas fa-bars"></i></div>

            <div class="login-bar">
                <div class="sign-up">
                    <a class="registrate" href=#><i class="far fa-address-card"></i></a>
                    <a class="registrate" href=#>Registrate</a>
                </div>
                <div class="login">
                    <a class="ingresa" href=#><i class="fas fa-user-circle"></i></a>
                    <a class="ingresa" href=#> Ingresá</a>
                </div>
                <div class="cart">
                    <a class="carrito" href=#><i class="fas fa-shopping-cart"></i></a>
                    <a class="carrito" href=#>Carrito</a>
                </div>
            </div>
        </section>
    </header>

    <main>
        <section class="productDetail-container">
            <div class="album">
                <img src="images\cover-art\arctic-the-car.jpg" alt="cover" class="cover-art">
            </div>

            <section class="info-producto">
                <div class="seleccion-formato">
                    <p>Formato</p>
                    <select class="seleccionar">
                        <option>Seleccionar...</option>
                        <option value="1">CD</option>
                        <option value="2">Vinilo</option>
                        <option value="3">12" - Clasic Format</option>
                        <option value="4">10" - Intermediate Format</option>
                        <option value="5">7" - Small</option>
                        <option value="6">3" - Single</option>
                        <option value="7">LP - Long Play </option>
                        <option value="8">EP - Extended Play</option>
                        <option value="9">Cassette</option>
                        <option value="10">Digital</option>
                    </select>
                    <p class="precio-album">$Precio</p>
                </div>

                <div class="info-album">
                    <p class="banda-album">Arctic Monkeys</p>
                    <p class="titulo-album">The Car</p>
                    <p class="genero-album">indie Rock</p>
                    <p class="sello-album"> Domino Records</p>
                    <p class="descripcion-album"> The Car es el séptimo álbum de estudio de Arctic Monkeys. Con diez
                        nuevas
                        canciones escritas por Alex Turner, producidas por James Ford y grabadas en Butley Priory,
                        Suffolk,
                        Le Frette, París y RAK Studios, Londres.</p>
                </div>
                <div class="codigo">
                    <p>Incluye código de descarga</p>
                </div>
                <form action="" method="GET">
                    <input type="submit" name="add-to-cart" value="Agregar al carrito">
                    <i class="fas fa-shopping-cart"></i>
                </form>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <div class="info-footer">
            <div class="iconos-footer">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-soundcloud"></i>
                <i class="fab fa-spotify"></i>
            </div>

            <div class="texto-footer">
                <p>Ayuda</p>
                <p>Newsletter</p>
                <p>Contacto</p>
            </div>
        </div>

        <p class="legal">© 2022 Sound Bites. All rights reserved.</p>

    </footer>
</body>

</html>