<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.typekit.net/nzu0lpj.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
</head>

<body>

    <body>
        <header>
            <section class="header">
                <div class="logo">
                    <img class="logo-svg" src="images\sinblanco.svg" alt="Logo">
                </div>
                <div class="barra-busqueda">
                    <input class="barra" type="text" name="barra-de-busqueda" placeholder="Busca...">
                </div>


                <div class="burger-menu"><i class="fas fa-bars"></i></div>

                <div class="login-bar">
                    <div class="sign-up">
                        <a class="registrate" href=#><i class="far fa-address-card"></i></a>
                        <a class="registrate" href=#>Registrate</a>
                    </div>
                    <div class="login">
                        <a class="ingresa" href=#><i class="fas fa-user-circle"></i></a>
                        <a class="ingresa" href=#> Ingresá</a>
                    </div>
                    <div class="cart">
                        <a class="carrito" href=#><i class="fas fa-shopping-cart"></i></a>
                        <a class="carrito" href=#>Carrito</a>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="registro">
                <form class="fondo" action="/" method="GET">
                    <article>
                        <h3>Nombre y Usuario</h3>
                    
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                        
                        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuari@">
                    </article>
                    <article class="fecha-de-nacimiento">
                        <label for="fechaNacimiento">Fecha de nacimiento</label>
                        <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                    </article>
                    <article>
                        <input type="text" name="domicilio" placeholder="Domicilio">
                    </article>    
        </main>
        
        <footer>
            <div class="info-footer">                
                <div class="iconos-footer">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-soundcloud"></i>
                    <i class="fab fa-spotify"></i>
                </div>

                <div class="texto-footer">
                    <p>Ayuda</p>
                    <p>Newsletter</p>
                    <p>Contacto</p>
                </div>
            </div>

            <p class="legal">© 2022 Sound Bites. All rights reserved.</p>

        </footer>
    </body>
</html>
