* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(2,48,71,1) 0%, rgba(33,158,188,1) 100%);
    background-attachment: fixed;
}

header {
    background-color: #fb8501;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    height: 60px;
}

.logo-svg {
    height: 100%;

}

/* busqueda*/

.busqueda {
    border: none;
    border-radius: 15px;
    padding: 8px;
    width: 100%;
    max-width: 500px;
}

.boton-busqueda {
    border: none;
    padding: 8px;
    background-color: #00ffff00;
    position: relative;
    right: 28px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 52%;
}

.nombre-usuario {
    margin-top: 20px;
    color: white;
    display: none;
    
}

/* fin busqeuda nueva*/

.barra-busqueda {
    align-self: center;
    width: 45%;
    display: flex;
}

.barra-busqueda i {
    align-self: center;
    color: gray;
    position: relative;
    right: 26px;
}

.barra {
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}

.burger-menu {
    align-self: center;
    margin: 10px;
    color: white;
    font-size: 35px;
}

.login-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    display: none;
}

.login-bar div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    color: white;
}

.login-bar div a{
    transition: 500ms;
}

.login-bar div:hover a{
    color: #219ebc;
    text-shadow: 1px 1px 3px black;
}

.login-bar div i {
    font-size: 30px;
}

.registrate,
.ingresa,
.carrito {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: -5px;
}

.perfil-box{
    background-color: #0000002b;
    border-radius: 10px;
    margin: 30px;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 340px;
}

main{
    display: flex;
    align-self: center;
}
/*Body*/

.titular {
    color: white;
    margin: 10px 0px 15px 0px;
}

.camposArtista{
    width: 250px;
    padding: 8px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #f6f6f6;
    display: inline-block;
    margin: 8px;
    text-align: center;
}
.imagenArtista{
    width: 250px;
    padding: 8px 0px;
    margin: 8px;
}

.botonCrear{
    align-self: center;
    background-color: #fb8501;
    padding: 10px;
    border: none;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    color: white;
}

/* Footer */
footer {
    background-color: #fb8501;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    color: white;
    margin-top: auto;
}

.info-footer {
    display: flex;
    justify-content: space-between;
}

.texto-footer{
    margin-right: 25px;
}

.legal {
    font-size: 11px;
}

.nombre-usuario{
    margin-top: 20px;
    color: white;
}

.imagen-perfil{
    width: 50px;
    border-radius: 50px;
    margin: 0px 10px;
    transition: 500ms;
}

.imagen-perfil:hover{
    box-shadow: 1px 1px 9px 6px rgb(0 0 0 / 56%);
    border: 2px solid white;
}

.boton-cerrar-sesion{
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: black;
    margin-top: 8px;
    transition: 500ms;
}

.boton-cerrar-sesion:hover{
    background-color: white;
    box-shadow: 1px 1px 9px 6px rgb(0 0 0 / 56%);
    color: black; 
}

.icono-gear{
    color: white;
    font-size: 12px;
    margin: 36px 5px 10px -8px;
}

.right-bar-header{
    display: flex;
    align-items: center;
}


@media (min-width: 361px) {}

@media (min-width: 769px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4px;
    }

    .barra-busqueda {
        align-self: center;
        width: 30%;
    }

    .login-bar {
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .login-container {
        align-self: center;

    }

}
    @media (min-width:1200px){
        .album{
            width: 23%;
        }
    
        .nombre-usuario{
            display: block;
        }

}