* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.boton-error {
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(0deg, rgba(2, 48, 71, 1) 0%, rgba(33, 158, 188, 1) 100%);
    background-attachment: fixed;

}

.no-localizar,
.hacer-click {
    text-decoration: none;
    text-align: center;
    color:white;
}

.no-localizar {
    margin:30px 0px 10px 0px;
    font-size: 30px;
}

.hacer-click {
    margin:10px 0px 50px 0px;
}

.imagen-error {
   text-align: center;
}



@media (min-width: 361px) {}

@media (min-width: 769px) {}

@media (min-width:1200px) {}