* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(2,48,71,1) 0%, rgba(33,158,188,1) 100%);
}

.no-existe,.no-localizar,.hacer-click{
    text-decoration: none;
}
.boton-error{
    text-decoration: none;
}


@media (min-width: 361px){

}

@media (min-width: 769px){




}

@media (min-width:1200px){

}