* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: salmon;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    height: 60px;
}

.logo-svg {
    height: 100%;

}

.barra-busqueda {
    align-self: center;
    width: 45%;
}

.barra {
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}

.burger-menu {
    align-self: center;
    margin: 10px;
    color: white;
    font-size: 35px;
}

.login-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    display: none;
}

.login-bar div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    color: white;
}

.login-bar div i {
    font-size: 30px;
}

.registrate,
.ingresa,
.carrito {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: -5px;
}


main {
    text-align: center;
    background-size: cover;


    background-color: black;
    background-image:
        radial-gradient(circle at 100% 150%, black 24%, white 24%, white 28%, black 28%, black 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0 150%, black 24%, white 24%, white 28%, black 28%, black 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50% 100%, white 10%, black 10%, black 23%, white 23%, white 30%, black 30%, black 43%, white 43%, white 50%, black 50%, black 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, black 5%, black 15%, white 15%, white 20%, black 20%, black 29%, white 29%, white 34%, black 34%, black 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0 50%, white 5%, black 5%, black 15%, white 15%, white 20%, black 20%, black 29%, white 29%, white 34%, black 34%, black 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
    opacity: 0.7;
}


.login-container {
    background-color: #ffbba8;
    border: 3px solid white;
    display: inline-block;
    border-radius: 20px;
    width: 40%;
    margin: 30px;
    padding: 50px;
}

.login-container div {
    margin: 5px;
}

.login-form {
    margin-top: 20px;
    padding: 5px;
}

form input[type="text"],
form input[type="password"]{
	width:250px;
	padding:8px 15px;
	border:1px solid grey;
	border-radius:3px;
	background-color:#f6f6f6;
	
	display:inline-block;
}

main section h2 {
    color: white;
}

.registrarse {
    padding: 40px;
}

.registrarse p {
    color: white;
    margin-bottom: 10px;
}

.ingresar-recuperarclave {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.usuario,
.password {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
}

.boton-registrate a {
    text-decoration: none;
    color: black;
}

button {
    padding: 5px 3px;
    border-radius: 5px;
    border: white;
    color: black;
}

button:hover {
    transform: translatey(2px);
    box-shadow: none;
    background-color: aqua;

}





footer {
    background-color: white;
    padding: 10px;

}

.info-footer {
    display: flex;
    justify-content: space-between;
}

.legal {
    font-size: 11px;
}

@media (min-width: 361px) {}

@media (min-width: 769px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4px;
    }

    .barra-busqueda {
        align-self: center;
        width: 30%;
    }

    .login-bar {
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .login-container {
        align-self: center;

    }

}