* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(2,48,71,1) 0%, rgba(33,158,188,1) 100%);
    background-attachment: fixed;
}

header {
    background-color: #fb8501;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    height: 60px;
}

.logo-svg {
    height: 100%;

}

.barra-busqueda {
    align-self: center;
    width: 45%;
    display: flex;
}

.barra-busqueda i {
    align-self: center;
    color: gray;
    position: relative;
    right: 26px;
}

.barra {
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}

.burger-menu {
    align-self: center;
    margin: 10px;
    color: white;
    font-size: 35px;
}

.login-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    display: none;
}

.login-bar div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    color: white;
}

.login-bar div a{
    transition: 500ms;
}

.login-bar div:hover a{
    color: #219ebc;
    text-shadow: 1px 1px 3px black;
}

.login-bar div i {
    font-size: 30px;
}

.registrate,
.ingresa,
.carrito {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: -5px;
}

main{
    display: flex;
    justify-content: center;
}

.login-container {
    background-color: #8ecae6;
    border: 3px solid white;
    display: inline-block;
    border-radius: 20px;
    width: 300px;
    margin: 30px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.login-container div {
    margin: 5px;
}

.login-form {
    margin-top: 20px;
    padding: 5px;
}

form input[type="text"],
form input[type="password"]{
	width:250px;
	padding:8px 15px;
	border:1px solid grey;
	border-radius:3px;
	background-color:#f6f6f6;
	display:inline-block;
}


form input[type="text"]:focus,
form input[type="password"]:focus{
	background-color:coral;
}



main section h2 {
    color: white;
}

.ingresar-recuperarclave {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.usuario,
.password {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
}

.ingresar-recuperarclave{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-top: 10%;

}

.botones, .botones2, .botones3{
    align-self: center;
    background-color: #fb8501;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: center;
}

.botones a, .botones2 a, .botones3 a{
    text-decoration: none;
}

.boton-ingresa, .forgot-password, .register2{
    color: white;
    background: none;
    border: none;
    padding: 8px;
    font-size: inherit;
}

.botones2{
    margin-top: 2px;
    background-color: black;
}

.pregunta{
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: #fb8501;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:  white;
}

.info-footer {
    display: flex;
    justify-content: space-between;
}

.texto-footer{
    margin-right: 25px;
}

.legal {
    font-size: 11px;
}

@media (min-width: 361px) {}

@media (min-width: 769px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4px;
    }

    .barra-busqueda {
        align-self: center;
        width: 30%;
    }

    .login-bar {
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .login-container {
        align-self: center;

    }

}