* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: salmon;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    height: 60px;
}

.logo-svg {
    height: 100%;

}

.barra-busqueda {
    align-self: center;
    width: 45%;
}

.barra {
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}

.burger-menu {
    align-self: center;
    margin: 10px;
    color: white;
    font-size: 35px;
}

.login-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    display: none;
}

.login-bar div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    color: white;
}

.login-bar div i {
    font-size: 30px;
}

.registrate,
.ingresa,
.carrito {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: -5px;
}

body{
    background-image: url(../images/fondos/fondoaqua.png);
    background-size: cover;
}

main {

    display: flex;
    justify-content: center

}


.titulo-carrito{
    font-size: 20px;
}

.carrito-container {
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    margin: 20px;

}

.imagen-album{
    width: 33%;
}

.descripcion{
    align-self: end;
    line-height: 20px;
    width: 33%;
}

.subtotal{
    align-self: flex-end;
    text-align: end;
}

.total{
    text-align: end;
    margin-top: 18px;
}

.cover-carrito{
    width: 100%;
}

.carrito-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 1px gray;
    
}

.subtotal p{
    text-decoration: none;
}

.carrito-bottom{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-top: 10%;

}

.botones, .botones2{
    align-self: center;
    background-color: black;
    padding: 10px;
    border: none;
    width: 60%;
    text-align: center;
}

.botones a, .botones2 a{
    text-decoration: none;
}

.boton-compra, .boton-seguir{
    color: white;
    background: none;
    border: none;
    padding: 8px;
    font-size: inherit;
}

.botones2{
    margin-top: 2px;
    background-color: salmon;
}


footer {
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

.info-footer {
    display: flex;
    justify-content: space-between;
}

.texto-footer{
    margin-right: 25px;
}

.legal {
    font-size: 11px;
}

@media (min-width: 361px) {}

@media (min-width: 769px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4px;
    }

    .barra-busqueda {
        align-self: center;
        width: 30%;
    }

    .login-bar {
        align-self: center;
        display: flex;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .album {
        width: 45%;
    }

    .categorias {
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .categorias article {
        background-color: salmon;
        text-align: center;
        padding: 8px;
        margin: 10px;
        border-radius: 10px;
        border: solid 3px salmon;
        transition: 500ms;
    }

    .vinilos:hover {
        background-image: url(../images/gifprueba.gif);
        background-position: center;
        background-size: cover;
        box-shadow: 2px 15px 23px 2px rgba(0, 0, 0, 0.75);
        border-color: white;
    }

    .vinilos:hover img {
        visibility: hidden;
    }

    .cassettes:hover {
        background-image: url(../images/rolling-cassette.gif);
        background-position: center;
        background-size: cover;
        box-shadow: 2px 15px 23px 2px rgba(0, 0, 0, 0.75);
        border-color: white;
    }

    .cassettes:hover img {
        visibility: hidden;
    }

    .discos:hover {
        background-image: url(../images/cd2.gif);
        background-position: center;
        background-size: cover;
        box-shadow: 2px 15px 23px 2px rgba(0, 0, 0, 0.75);
        border-color: white;
    }

    .discos:hover img {
        visibility: hidden;
    }

    .digital:hover {
        background-image: url(../images/sound.gif);
        background-position: center;
        background-size: cover;
        box-shadow: 2px 15px 23px 2px rgba(0, 0, 0, 0.75);
        border-color: white;
    }

    .digital:hover img {
        visibility: hidden;
    }




}

@media (min-width:1200px) {
    .album {
        width: 23%;
    }

}