* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header{
    background-color: #593C2C;
}

.header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
}

.logo {
    height: 60px;
}

.logo-svg {
    height: 100%;
    
}

.barra-busqueda {
    align-self: center;
    width: 45%;
}

.barra {
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}

.burger-menu{
    align-self: center;
    margin: 10px;
    color: white;
    font-size: 35px;
}

.login-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    display: none;
}

.login-bar div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    color: white;
}

.login-bar div i{
    font-size: 30px;
}

.registrate, .ingresa, .carrito {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-bottom: -5px;
}

.info-bar{
    color: white;
    display: flex;
    font-size: large;
    justify-content: space-between;
    width: 40%;
    align-self: center;
    display: none;
}

main{
    background-color: #F2DBAE;
}

.imagen-detalle{
    width: 90%;
    margin-left: 22px;
    margin-top: 20px;
}

.titulo-banda{
    width: 90%;
    margin-left: 32px;
    margin-top: 20px;
}

.titulo{
    font-size: xx-large;
    font-weight: bolder;
}

.banda{
    color: gray;
    font-size: x-large;
    margin-top: 10px;    
}

.opcion-agregar-carrito{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 15px;
    font-size: x-large;
}

.agregar-carrito{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: auto;
    align-items: baseline;
    width: 90%;
    border: solid 3px black;
    padding: 20px;
}

.boton-carrito{
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
    width: 90%;
    margin-left: 5px;
    text-align: center;
}

.boton-carrito a{
    text-decoration: none;
}

.botonCarrito{
    color: white;
    background: none;
    border: none;
    padding: 16px;
    font-size: inherit;
}


.detalle-compra{
    display: flex;
    flex-direction: column;
}

.opciones{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 15px;
    font-size: x-large;
}

.opciones i{
    font-size: 30px;
}

.icono-cassette{
    width: 30px;
    position: relative;
    top: 5px;
}

.formato-precio{        
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: baseline;
    width: 90%;
    border: solid 3px black;
    padding: 20px;

}

.descripcion{
    width: 82%;
    margin-left: 31px;
}

.parrafo{
    margin-bottom: 30px;
}

.datos-tecnicos{
    width: 82%;
    margin-left: 31px;
    border-top: solid 1px gray;
    padding-top: 10px;
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.lista-tecnica{
    list-style: none;
}

.link-tecnico{
    color: black;
    font-weight: 600;
}


footer{
    background-color: sandybrown;
    padding: 10px;

}

.info-footer{
    display: flex;
    justify-content: space-between;
}

.legal{
    font-size: 11px;
}

@media (min-width: 361px){

}

@media (min-width: 769px){
    .header{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4px;
    }

    .barra-busqueda {
        align-self: center;
        width: 20%;
    }

    .login-bar{
        align-self: center;
        display: flex;
        justify-content: space-between; 
    }

    .burger-menu{
        display: none;
    }

    .info-bar{
        margin: 10px;
        color: white;
        display: flex;
        font-size: large;
        justify-content: space-between;
        width: 31%;
        align-self: center;
       
    }
    .detalle-compra {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
    }

    .agregar-carrito {
        display: flex;
        justify-content: space-between;
        margin: 5px;
        margin-bottom: 0px;
        align-items: baseline;
        width: 90%;
        border: solid 3px black;
        padding: 20px;
    
    }

    .boton-opciones{
        width: 50%;
    }

    .imagen-producto{
        width: 50%;
        align-self: center;
    }

    .descripcion {
        width: 82%;
        margin-left: 31px;
        margin-top: 20px;
    }

}



@media (min-width:1200px){

    .barra-busqueda {
        align-self: center;
        width: 30%;
    }


}
