<html>
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

    <main>
        
        <section class="carrito-container">
            <p class="titulo-carrito">Carrito de compras</p>
            <article class="carrito-top">
                            
                <article class = "imagen-album">
                    <img src="images/cover-art/WillofthePeople.jpg" class="cover-carrito" alt="">
                </article>

                <article class="descripcion">

                    <div class="titulo-tacho">
                        <p class="titulo">Will of the People</p>
                    </div>

                    <div class="info-compra">

                    <p class="banda">Muse</p>
                    <p class = “formato”> LP</p> 
                    <p> 
                        Cantidad
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </p> 
                </article>
                
                <article class="subtotal">
                        <p class="subtotal-p"> Subtotal: $7.000 <a href=#><i class="fas fa-trash-alt"></i></a></p> 
                </article>  
                
            </article>

            <article class="carrito-top">
                            
                <article class = "imagen-album">
                    <img src="images\cover-art\FirstImpressionsofEarth.jpg" class="cover-carrito" alt="">
                </article>

                <article class="descripcion">

                    <div class="titulo-tacho">
                        <p class="titulo">First Impressions of Earth</p>
                    </div>

                    <div class="info-compra">

                    <p class="banda">The Strokes</p>
                    <p class = “formato”> LP</p> 
                    <p> 
                        Cantidad
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </p> 
                </article>
                
                <article class="subtotal">
                        <p class="subtotal-p"> Subtotal: $7.000 <a href=#><i class="fas fa-trash-alt"></i></a></p> 
                </article>  
                
            </article>

                <article class="total">
                    <p class="total">Total: $14.000</p>
                </article>
            
            <article class="carrito-bottom">

                <article class="botones">
                        <a href=#><p class="boton-compra"> Comprar</P></a>
                </article>
                <article class="botones2">
                        <a href=#><p class="boton-seguir"> Seguir Comprando</P></a>
                </article>

            </article>

        </section>
    </main>

    
    <%- include("./partials/footer") %>
</body>
</html>
    